
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 style="margin:100px">     BIENVENIDO    </h2>
    <h4 style="margin-left:100px;">     Eliga una opcion para empezar...    </h4>
    <img src="~/img/pharmacy3.png" style="margin-left:600px;">
</div>





